{{#section 'js'}}
    <script>
        function update() {
            const child_category = {
                Empty: [],
                RAM: ['Hynix', 'Crucial'],
                SSD: ['Samsung', 'Intel'],
                CPU: ['Intel', 'AMD']
            };
            const select = document.getElementById('parent_category');
            const option = select.options[select.selectedIndex].value;

            $("#child_category").empty();
            let selectOption = "";
            const list_option = child_category[option];
            for (let i = 0; i < list_option.length; i++) {
                selectOption = "";
                selectOption += "<option value='" + list_option[i] + "'>" + list_option[i] + "</option>";
                $('#child_category').append(selectOption);
            }
        }

        update();
    </script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>

    <script>
        document.body.appendChild(document.createElement('script')).src = 'https://unpkg.com/sweetalert/dist/sweetalert.min.js';
        $('#addForm').on('submit', function (event) {
            event.preventDefault();
            const proname = document.getElementById('txtAddProductName').value;
            const price = document.getElementById('txtAddPrice').value;
            const stock = document.getElementById('txtAddStock').value;
            // const bigCat = document.getElementById('parent_category').value;
            // const childCat = document.getElementById('child_category').value;
            const file = document.getElementById('fileUpload');
            // alert(file.files.length)
            if(file.files.length === 0 ){
                swal("Please upload product image!")
                return;
            }
            if(proname.length<1||price.length<1||stock.length<1){
                swal("Please fill all fields!")
                return;
            }
            swal("Congrats!", "Product uploaded successfully!!", "success");
            $('#addForm').off('submit').submit();
        });
    </script>
{{/section}}
{{#if this.empty}}
    <div class="w-full max-w-4xl mx-auto mt-8">
        No product.
    </div>
{{else}}
    <div class="bigCate ">
        <div class="bigCate-title d-flex mb-3">
            <h3>Product</h3>
            <button type="submit" class="text-md px-6 py-2  border border-cyan-700" data-bs-toggle="modal"
                    data-bs-target="#exampleModalAdd">
                <i class="fa fa-plus" aria-hidden="true"></i> ADD
            </button>
        </div>

        <div class="table-responsive" style="min-height: 200px;max-height: 500px">
            <table class="table">
                <thead>
                <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sold</th>
                    <th scope="col">Stock</th>
                    <th scope="col" class="text-center">&nbsp;</th>
                    <th scope="col" class="text-center">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.product}}
                    <tr>
                        <th scope="row">{{ProID}}</th>
                        <td>
                            <a href="/product/detail/{{ProID}}" class="text-dark">
                                <strong>{{ProName}}</strong>
                            </a>
                        </td>
                        <td>{{format_number Price}}</td>
                        <td>{{Sold}}</td>
                        <td>{{Stock}}</td>
                        <td style="vertical-align: middle">
                            <div class="editForm">
                                <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalEdit{{ProID}}">Edit
                                </button>
                            </div>
                        </td>
                        <td style="vertical-align: middle">
                            <div class="delForm">
                                <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalDel{{ProID}}">Delete
                                </button>
                            </div>
                        </td>
                    </tr>

                    <div class="modal" id="exampleModalEdit{{ProID}}" tabindex="-1" aria-labelledby="exampleModalEditLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content " style="overflow-y: scroll; height:500px;width:600px">
                                <form class="formEdit" method="post" id="formEdit" action="/admin/update-pro">
                                    <div class="modal-body">
                                        <input value="{{ProID}}" hidden name="ProID">
                                        <label><strong>Product name</strong></label>
                                        <input type="text" value="{{ProName}}" disabled name="ProName"
                                               class="border border-cyan-700">
                                        <label class="mt-3"><strong>Price</strong></label>
                                        <input id="editPrice" type="number" name="Price" min="1" value="{{Price}}"
                                               class="border input-price border-cyan-700 editPrice">
                                        <label class="mt-3"><strong>Stock</strong></label>
                                        <input id="editStock" type="number" min="1" value="{{Stock}}" name="Stock"
                                               class="border border-cyan-700">
                                        <label class="mt-3"><strong>Description</strong></label>
                                        <textarea type="text" name="txtDescription"
                                                  class="border ckeditor">{{Description}}</textarea>
                                        <label class="text-primary mt-3 mb-3">If you empty any field, it will be
                                            considered unchanged!</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn-save">Save</button>
                                        <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal" id="exampleModalDel{{ProID}}" tabindex="-1" aria-labelledby="exampleModalDelLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Are you sure to delete product {{ProID}} - {{ProName}}?
                                </div>
                                <form id="btnDelete" action="/admin/del-product" method="post">
                                    <div class="modal-footer">
                                        <button type="submit" class="btn-save" value={{ProID}} name="delete">Delete</button>
                                        <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                {{/each}}
                </tbody>
            </table>
        </div>

        <div class="mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{#if isFirst}}
                    {{else}}
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {{/if}}
                    {{#each this.page_numbers}}
                        {{#if isCurrent}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{value}}">
                                <strong>{{value}}</strong>
                                </a>
                            </li>
                        {{else}}
                            <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                    {{/each}}
                    {{#if isLast}}
                    {{else}}
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>

        <!-- Modal add-->
        <div class="modal" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalAddLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="overflow-y: scroll; height:500px; width:600px">
                    <form enctype="multipart/form-data" action="/admin/add-product" id="addForm" method="post">
                        <div class="modal-body">
                            <label>Product Name</label>
                            <input id="txtAddProductName" type="text" name="ProName" class="border border-cyan-700">
                            <label class="mt-3">Price</label>
                            <input id="txtAddPrice" type="number" min="0" name="Price" class="border border-cyan-700">
                            <label class="mt-3">Stock</label>
                            <input id="txtAddStock" type="number" min="1" name="Stock" class="border border-cyan-700">
                            <label class="mt-3">Big Category</label>
                            <select class="form-select" name="parent_category" id="parent_category" onChange="update()">
                                <option value="RAM" selected>RAM</option>
                                <option value="CPU">CPU</option>
                                <option value="SSD">SSD</option>
                            </select>
                            <label class="mt-3">Category</label>
                            <select class="form-select" name="child_category" id="child_category">
                            </select>

                            <label class="mt-3">Description</label>
                            <textarea id="txtAddProductDescription" type="text" name="Description"
                                      class="border border-cyan-700"></textarea>

                            <label class="mt-3">Image</label>
                            <input name="fileUpload" id="fileUpload" type="file" accept=".jpg, .png"
                                   style="line-height: normal;">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn-save">Save</button>
                            <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{{/if}}

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace('txtAddProductDescription');
</script>