{{#if this.empty}}
    <div class="w-full max-w-4xl mx-auto mt-8">
        No order to show yet!
    </div>
{{else}}
    <div class="table_page table-responsive" style="min-height: 200px;max-height: 500px">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Status</th>
                <th>Product</th>
                <th>Total</th>
            </tr>
            </thead>

            <tbody>
            {{#each ordList}}
                <tr>
                    <td>{{this.OrderID}}</td>
                    <td>{{format_no_h this.Date}}</td>
                    <td class="{{this.color}}">{{this.State}}
                    </td>
                    <td>
                        <table>
                            {{#each this.Orders}}
                                <tr>
                                    <td style="border: none; padding:0; text-align:left;">
                                        <a class = "text-dark text-weight-bold"
                                           href="/product/detail/{{this.ProID}}">
                                            {{this.ProName}}
                                        </a>
                                    </td>
                                    <td style="border: none; padding:0; min-width: 50px; color:#24262b">
                                        {{this.Stock}}x</td>
                                </tr>
                            {{/each}}
                        </table>
                    </td>
                    <td>{{format_number this.Total}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}