{{#if this.empty}}
<div class="w-full max-w-4xl mx-auto mt-8">
    No order to show yet!
</div>
{{else}}
<div class="table_page table-responsive" style="width: 90%; min-height: 200px;max-height: 500px">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th style="text-align: center; width: 150px">Date</th>
                <th>Status</th>
                <th>Product</th>
                <th>Total</th>
                <th scope="col" class="text-center">&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            {{#each ordList}}
                <tr>
                    <td>{{this.OrderID}}</td>
                    <td style="text-align: center;">{{format_no_h this.Date}}</td>
                    <td class="{{this.color}}"><strong>
                        {{this.State}}
                    </strong>
                    </td>
                    <td>
                        <table>
                            {{#each this.Orders}}
                                <tr>
                                    <td style="border: none; padding:0; text-align:left;">
                                        <a class = "text-dark"
                                           href="/product/detail/{{this.ProID}}">
                                            {{this.ProName}}
                                        </a>
                                    </td>
                                    <td style="border: none; padding:0; min-width: 50px; color:#24262b; text-align: right">
                                        {{this.Stock}}x</td>
                                </tr>
                            {{/each}}
                        </table>
                    </td>
                    <td class="text-danger"><strong>
                        {{format_number this.Total}}
                    </strong></td>
                    <td>
                        <div class="receivedForm">
                            <button type="button" data-bs-toggle="modal" {{#if this.preventReceive}}
                                disabled class="disabled"
                            {{/if}}
                                    data-bs-target="#exampleModalReceived{{this.OrderID}}">Received
                            </button>
                        </div>
                    </td>

                    <div class="modal" id="exampleModalReceived{{this.OrderID}}"
                         tabindex="-1" aria-labelledby="exampleModalReceivedLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    You have received this order?
                                </div>
                                <form id="btnReceived" action="/account/receive" method="post">
                                    <div class="modal-footer">
                                        <input hidden name="OrderID" value="{{this.OrderID}}">
                                        <button type="submit" class="btn-save">Confirm</button>
                                        <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}