<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="d-flex align-items-center">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item">Account</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px mb-5 height-full ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li>
                            <a href="#orders" data-bs-toggle="tab" class="nav-link active">Orders</a>
                        </li>
                        <li>
                            <a href="#information" data-bs-toggle="tab" class="nav-link">Information</a>
                        </li>
                        <li>
                            <a href="#address" data-bs-toggle="tab" class="nav-link">Addresses</a>
                        </li>
                        <li>
                            <a href="#account-details" data-bs-toggle="tab" class="nav-link">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    {{!-- <div class="tab-pane fade" id="dashboard">
                        <h4>Account Infomation </h4>
                        <p>From Account Infomation. You can check and modify your personal
                            details.</p>

                        {{#if duplicateEmail}}
                        <p style="color: red;">Email has been already registered. </p>
                        {{/if}}
                        {{#if wrongPassword}}
                        <p style="color: red;">Confirm password unsuccessfully. </p>
                        {{/if}}
                    </div> --}}
                    <div class="tab-pane fade active" id="orders">
                        {{!-- <h4>Orders</h4> --}}
                        <div class="table_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each ordList}}
                                    <tr>
                                        <td>{{@key}}</td>
                                        <td>{{format_no_h this.Date}}</td>
                                        <td {{#if this.success}} class="text-success" {{/if}}>{{this.State}}</td>
                                        <td>
                                            <table>
                                                {{#each this.Orders}}
                                                <tr>
                                                    <td style="border: none; padding:0; float:left">{{this.ProName}}
                                                    </td>
                                                    <td style="border: none; padding:0; min-width: 50px; color:#24262b">
                                                        {{this.Stock}}x</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </td>
                                        <td>{{format_number this.Total}} VND</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="information">
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="#" method="POST">
                                        <div class="default-form-box mb-20">
                                            <label>Address</label>
                                            <input type="text" name="address" value="227 NguyenVanCu" readonly />
                                        </div>
                                        <div class="default-form-box mb-20 mt-3">
                                            <label>Phone Number</label>
                                            <input type="text" name="phone" value="0987654321" readonly />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="address">
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="#" method="POST">
                                        <div class="default-form-box mb-20">
                                            <label>Old Address</label>
                                            <input type="text" name="address" value="227 NguyenVanCu" readonly />
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>New Address</label>
                                            <input type="text" name="address" placeholder="New address" />
                                        </div>

                                        <div class="save_button mt-3">
                                            <button class="btn" type="submit">Save</button>
                                        </div>
                                        <div class="default-form-box mb-20 mt-3">
                                            <label>Old Phone Number</label>
                                            <input type="text" name="phone" value="0987654321" readonly />
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>New Phone Number</label>
                                            <input type="text" name="phone" placeholder="New phone number" />
                                        </div>
                                        <div class="save_button mt-3">
                                            <button class="btn" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details">
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="#" method="POST">
                                        <input type="hidden" name="_id" value="{{user._id}}" />

                                        <div class="default-form-box mb-20">
                                            <label>Old Password</label>
                                            <input type="password" name="old-password" />
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>New Password</label>
                                            <input type="password" name="new-password" />
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Confirm Password</label>
                                            <input type="password" name="new-password" />
                                        </div>
                                        <div class="save_button mt-3">
                                            <button class="btn" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account area start -->