



<!-- Cart Area Start -->
<div class="cart-main-area pt-100px pb-100px height-full">
    <div class="container">
        {{#if isEmpty}}
            <h2 class="text-gray-700 h-10 ml-5 text-start">Your cart is empty!</h2>
            <a href="/">
                <h4>
                    <i class="fa fa-arrow-right text-danger"></i>
                    <span class="text-danger ml-2">Go shopping</span>
                </h4>
            </a>
        {{else}}
            <div class="row">
                <div class="col-12 col-lg-9">
                    <form action="#">
                        <div class="table-content table-responsive cart-table-content"
                             style="min-height: 200px;max-height: 500px">
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each cart}}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="/product/detail/{{ProID}}"><img class="img-responsive"
                                                                                     src="{{LinkURL}}"
                                                                                     alt="{{ProName}}"/></a>
                                        </td>
                                        <td class="product-name"><a href="/product/detail/{{ProID}}"><b>{{ProName}}</b></a>
                                        </td>
                                        <td class="product-price-cart"><span class="amount">{{format_number
                                                Price}}</span></td>
                                        <td class="product-quantity">{{StockCart}}
                                        </td>

                                        <td class="product-subtotal">{{format_number subtotal}}</td>
                                        <td {{#if outstock}} class="text-danger" {{else}} class="text-primary" {{/if}}>
                                            <strong>
                                                {{Stock}}
                                            </strong>
                                        </td>
                                        <td class="product-remove">
                                            <button type="submit" name="ProID" class="text-danger" value={{ProID}}
                                                    formmethod="post" formaction="/account/cart-del">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                {{!-- <div class="col-12 col-md-6 col-lg-3">
                    <div class="grand-totall">
                        <div class="title-wrap text-center">
                            <h4 class="cart-bottom-title section-bg-gary-cart">DELIVERY INFORMATION</h4>
                        </div>
                        <div class="delivery-infor">
                            <p><strong>Receiver: </strong>{{user.Username}}</p>
                            <p><strong>Address: </strong>{{user.Address}}</p>
                            <p><strong>Phone: </strong>{{user.Number}}</p>
                        </div>
                    </div>
                </div> --}}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="grand-totall">
                        <div class="title-wrap text-center">
                            <h4 class="cart-bottom-title section-bg-gary-cart">DELIVERY INFORMATION</h4>
                        </div>
                        <div class="delivery-infor">
                            <p><strong>Receiver: </strong>{{user.Name}}</p>
                            <p><strong>Address: </strong>{{user.Address}}</p>
                            <p><strong>Phone: </strong>{{user.Number}}</p>
                        </div>
                    </div>
                    <div class="grand-totall mt-5">
                        <div class="title-wrap text-center">
                            <h4 class="cart-bottom-title section-bg-gary-cart">CART TOTAL</h4>
                        </div>
                        <h4 class="grand-totall-title">Total <span>{{format_number total}}</span></h4>
                        {{#if buynow}}
                            <form id="formCheckout" action="/account/checkout-buynow" method="post">
                                <input hidden name="buynowID" value="{{item.ProID}}">
                                <input hidden name="buynowStock" value="{{item.Stock}}">
                            </form>
                            <a href="javascript: $('#formCheckout').submit();">Check out</a>
                        {{else}}
                            <form id="formCheckout" action="/account/checkout" method="post"></form>
                            <a href="javascript: $('#formCheckout').submit();">Check out</a>
                        {{/if}}

                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
<!-- Cart Area End -->