{{!-- Slide product --}}

<div class="container py-5">
    <div class="section-title text-left mb-3">
        <h2 class="title line-height-1">Ram - 5 best sellers</h2>
    </div>
    <div class="owl-carousel owl-theme">
        {{#each best_ram}}
            <div class="item card-item">
                <div class="card">
                    <img src="{{this.LinkURL}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{this.ProName}}</h5>
                        <div class="card-price">
                            <p class="card-price-num">{{format_number this.Price}} VND</p>
                        </div>
                        <hr>
                        <p class="card-sold">Sold: 9k</p>
                    </div>
                    <div class="card__overlay">
                        <a href="/product/detail/{{this.ProID}}" class="card__overlay-detail">
                            <i class="fa fa-arrow-circle-right"></i>Detail
                        </a>
                        <button class="card__overlay-cart">
                            <i class="fa fa-shopping-cart"></i>Add to cart
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="container py-5">
    <div class="section-title text-left mb-3">
        <h2 class="title line-height-1">SSD - 5 best sellers</h2>
    </div>
    <div class="owl-carousel owl-theme">
        {{#each best_ssd}}
            <div class="item card-item">
                <div class="card">
                    <img src="{{this.LinkURL}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{this.ProName}}</h5>
                        <div class="card-price">
                            <p class="card-price-num">{{format_number this.Price}}</p><span> VND</span>
                        </div>
                        <hr>
                        <p class="card-sold">Sold: 9k</p>
                    </div>
                    <div class="card__overlay">
                        <a href="/product/{{this._id}}" class="card__overlay-detail">
                            <i class="fa fa-arrow-circle-right"></i>Detail
                        </a>
                        <button class="card__overlay-cart">
                            <i class="fa fa-shopping-cart"></i>Add to cart
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="container py-5">
    <div class="section-title text-left mb-3">
        <h2 class="title line-height-1">CPU - 5 best sellers</h2>
    </div>

    <div class="owl-carousel owl-theme">
        {{#each best_cpu}}
            <div class="item card-item">
                <div class="card">
                    <img src="{{this.LinkURL}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{this.ProName}}</h5>
                        <div class="card-price">
                            <p class="card-price-num">{{format_number this.Price}}</p><span> VND</span>
                        </div>
                        <hr>
                        <p class="card-sold">Sold: 9k</p>
                    </div>
                    <div class="card__overlay">
                        <a href="/product/{{this._id}}" class="card__overlay-detail">
                            <i class="fa fa-arrow-circle-right"></i>Detail
                        </a>
                        <button class="card__overlay-cart">
                            <i class="fa fa-shopping-cart"></i>Add to cart
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<!-- Feature Area Srart -->
<div class="feature-area py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6  ">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="assets/images/icons/1.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Free Shipping</h4>
                        <span class="sub-title">Capped at $39 per order</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-lg-4 col-md-6 mb-md-30px mb-lm-30px mt-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="assets/images/icons/2.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">12 Months Installments</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="assets/images/icons/3.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->
