<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="d-flex align-items-center">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/">{{product.BigCatName}}</a></li>
                <li class="breadcrumb-item">{{product.CatName}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->

<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="{{product.LinkURL}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content p-3">

                    <h2>{{product.ProName}}</h2>

                    <div class="product-infor">
                        <ul>
                            <li>
                                Thương hiệu: <p>{{product.CatName}}</p>
                            </li>
                            <li>
                                Sold: <p>123 sản phẩm</p>
                            </li>
                            <li>
                                Còn lại: <p>{{product.Stock}} sản phẩm</p>
                            </li>
                        </ul>
                    </div>

                    <div class="pricing-meta mt-30px">
                        <ul>
                            <li class="old-price not-cut">{{format_number product.Price}} VND</li>
                        </ul>
                    </div>
                    <div class="pro-details-quality">
                        <form action="{{product._id}}/order" method="POST">
                            <input type="hidden" name="userid" value="{{user._id}}" />
                            <input type="hidden" name="username" value="{{user.username}}" />
                            <input type="hidden" name="address" value="{{user.address}}" />
                            <input type="hidden" name="email_address" value="{{user.email_address}}" />
                            <input type="hidden" name="phone" value="{{user.phone}}" />

                            <input type="hidden" name="productid" value="{{product._id}}" />
                            <input type="hidden" name="productName" value="{{product.name}}" />
                            <input type="hidden" name="image" value="{{product.image.[0]}}" />
                            <input type="hidden" name="price" value="{{product.price}}" />

                            <input type="hidden" name="note" value="" />
                            <input type="hidden" name="status" value="" />
                            <input type="hidden" name="shippingFee" value=0 />
                            {{#if outOfStock}}
                            <div>OUT OF STOCK ! </div>
                            {{/if}}
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" type="number" name="quantity" value="1" />
                            </div>
                            <span class="pro-details-cart">
                                <button class="add-cart" type="submit" value="Submit"> Add To Cart</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-50px">
        <div class="product-description">
            <div class="product-description-title">
                <p>Description</p>
            </div>
        </div>
        <div class="product-description-text">
            <p>
                {{product.Description}}
            </p>
        </div>
    </div>
</div>
<!-- product details description area end -->