<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="align-items-center justify-content-center">
      <div class="text-center">
        <h2 class="breadcrumb-title">Shop</h2>
        <!-- breadcrumb-list start -->
        <ul class="breadcrumb-list">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Shop</li>
        </ul>
        <!-- breadcrumb-list end -->
      </div>
    </div>
  </div>
</div>

<!-- breadcrumb-area end -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!-- Shop Page Start  -->
<div class="shop-category-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
        <!-- Shop Top Area Start -->
        <div class="shop-top-bar d-flex">
          <div class="select-shoing-wrap d-flex align-items-center">
            <div class="shot-product">
              <p>Sort By:</p>
            </div>
            <div class="shop-select">
              <select class="shop-sort" onchange="if (this.value) window.location.href=this.value">
                <option data-display="Relevance">Relevance</option>
                <option value="/product/?sort=name{{categoryString}}{{genString}}{{keywordString}}"> Name, A to Z
                </option>
                <option value="/product/?sort=-name{{categoryString}}{{genString}}{{keywordString}}"> Name, Z to A
                </option>
                <option value="/product/?sort=price{{categoryString}}{{genString}}{{keywordString}}"> Price, low to high
                </option>
                <option value="/product/?sort=-price{{categoryString}}{{genString}}{{keywordString}}"> Price, high to
                  low</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Shop Top Area End -->

        <!-- Shop Bottom Area Start -->
        <div class="shop-bottom-area">
          <!-- Tab Content Area Start -->
          <div class="tab-pane fade show active row" id="shop-list">
            <div class="col-12 col-md-6 col-lg-4 card-content">
              <div class="item card-item">
                <div class="card">
                  <img src="https://picsum.photos/200" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Tên nè</h5>
                    <div class="card-price">
                      <p class="card-price-num">123456</p><span> VND</span>
                    </div>
                    <hr>
                    <p class="card-sold">Sold: 9k</p>
                  </div>
                  <div class="card__overlay">
                    <a href="/product/{{this._id}}" class="card__overlay-detail">
                      <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                    </a>
                    <button class="card__overlay-cart">
                      <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                    </button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4 card-content">
              <div class="item card-item">
                <div class="card">
                  <img src="https://picsum.photos/200" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Tên nè</h5>
                    <div class="card-price">
                      <p class="card-price-num">123456</p><span> VND</span>
                    </div>
                    <hr>
                    <p class="card-sold">Sold: 9k</p>
                  </div>
                  <div class="card__overlay">
                    <a href="/product/{{this._id}}" class="card__overlay-detail">
                      <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                    </a>
                    <button class="card__overlay-cart">
                      <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 card-content">
              <div class="item card-item">
                <div class="card">
                  <img src="https://picsum.photos/200" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Tên nè</h5>
                    <div class="card-price">
                      <p class="card-price-num">123456</p><span> VND</span>
                    </div>
                    <hr>
                    <p class="card-sold">Sold: 9k</p>
                  </div>
                  <div class="card__overlay">
                    <a href="/product/{{this._id}}" class="card__overlay-detail">
                      <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                    </a>
                    <button class="card__overlay-cart">
                      <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 card-content">
              <div class="item card-item">
                <div class="card">
                  <img src="https://picsum.photos/200" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Tên nè</h5>
                    <div class="card-price">
                      <p class="card-price-num">123456</p><span> VND</span>
                    </div>
                    <hr>
                    <p class="card-sold">Sold: 9k</p>
                  </div>
                  <div class="card__overlay">
                    <a href="/product/{{this._id}}" class="card__overlay-detail">
                      <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                    </a>
                    <button class="card__overlay-cart">
                      <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
     
          </div>
          <!-- Tab Content Area End -->

          <!--  Pagination Area Start -->
          <div class="load-more-items text-center mb-md-60px mb-lm-60px mt-30px0px" data-aos="fade-up">
            <div class="pagination">
              <ul>
                <!--pages or li are comes from javascript -->
              </ul>
            </div>
          </div>
          <!--  Pagination Area End -->
        </div>
        <!-- Shop Bottom Area End -->
      </div>



      <!-- Sidebar Area Start -->
      <div class="col-lg-3 order-lg-first col-md-12 order-md-last mb-md-60px mb-lm-60px">
        <div class="shop-sidebar-wrap">
          <!-- Sidebar single item -->
          <div class="sidebar-widget-search">
            <form id="widgets-searchbox" action="/product">
              <input class="input-field" type="text" name="keyword" placeholder="Search" />
              <button class="widgets-searchbox-btn" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
          <!-- Sidebar single item -->

          <!-- Sidebar single item -->
          <div class="sidebar-widget">
            <h4 class="sidebar-title">Category</h4>
            <div class="sidebar-widget-category">
              <ul>
                {{#if activeShirt}}
                <li><a href="/product/?{{genString}}{{keywordString}}{{sortString}}" style="color: #fb5d5d;"
                    class="">T-Shirt </a></li>
                {{else}}
                <li><a href="/product/?category=T-shirt{{genString}}{{keywordString}}{{sortString}}" class="">T-Shirt
                  </a></li>
                {{/if}}

                {{#if activeJacket}}
                <li><a href="/product/?{{genString}}{{keywordString}}{{sortString}}" style="color: #fb5d5d;"
                    class="">Jacket </a></li>
                {{else}}
                <li><a href="/product/?category=Jacket{{genString}}{{keywordString}}{{sortString}}" class="">Jacket </a>
                </li>
                {{/if}}

                {{#if activeBack}}
                <li><a href="/product/?{{genString}}{{keywordString}}{{sortString}}" style="color: #fb5d5d;"
                    class="">Backpack</a></li>

                {{else}}
                <li><a href="/product/?category=Backpack{{genString}}{{keywordString}}{{sortString}}"
                    class="">Backpack</a></li>

                {{/if}}

                {{#if activeJeans}}
                <li><a href="/product/?{{genString}}{{keywordString}}{{sortString}}" style="color: #fb5d5d;"
                    class="">Jeans</a></li>
                {{else}}
                <li><a href="/product/?category=Jeans{{genString}}{{keywordString}}{{sortString}}" class="">Jeans</a>
                </li>
                {{/if}}

                {{#if activeShoe}}
                <li><a href="/product/?{{genString}}{{keywordString}}{{sortString}}" style="color: #fb5d5d;"
                    class="">Shoe
                  </a></li>
                {{else}}
                <li><a href="/product/?category=Shoe{{genString}}{{keywordString}}{{sortString}}" class="">Shoe </a>
                </li>
                {{/if}}

                {{#if activeHoodie}}
                <li><a href="/product/?{{genString}}{{keywordString}}{{sortString}}" style="color: #fb5d5d;"
                    class="">Hoodie</a></li>
                {{else}}
                <li><a href="/product/?category=Hoodie{{genString}}{{keywordString}}{{sortString}}" class="">Hoodie</a>
                </li>
                {{/if}}

                {{#if activePant}}
                <li><a href="/product/?{{genString}}{{keywordString}}{{sortString}}" style="color: #fb5d5d;"
                    class="">Pant</a></li>
                {{else}}
                <li><a href="/product/?category=Pant{{genString}}{{keywordString}}{{sortString}}" class="">Pant</a></li>
                {{/if}}

              </ul>
            </div>
          </div>

          <!-- Sidebar single item -->
          <div class="sidebar-widget tag">
            <h4 class="sidebar-title">Tags</h4>
            <div class="sidebar-widget-tag">
              <ul>
                {{#if activePopular}}
                <li><a href="/product/?{{categoryString}}{{keywordString}}{{sortString}}" style="background-color: #fb5d5d;
  border-color: #fb5d5d;
  color: #fff;">Popular</a></li>
                {{else}}
                <li><a href="/product/?gen=Popular{{categoryString}}{{keywordString}}{{sortString}}">Popular</a></li>
                {{/if}}

                {{#if activeNew}}
                <li><a href="/product/?{{categoryString}}{{keywordString}}{{sortString}}" style="background-color: #fb5d5d;
  border-color: #fb5d5d;
  color: #fff;">New</a></li>
                {{else}}
                <li><a href="/product/?gen=New{{categoryString}}{{keywordString}}{{sortString}}">New</a></li>
                {{/if}}

                {{#if activeHot}}
                <li><a href="/product/?{{categoryString}}{{keywordString}}{{sortString}}" style="background-color: #fb5d5d;
  border-color: #fb5d5d;
  color: #fff;">Hot</a></li>
                {{else}}
                <li><a href="/product/?gen=Hot{{categoryString}}{{keywordString}}{{sortString}}">Hot</a></li>
                {{/if}}

                {{#if activeLimited}}
                <li><a href="/product/?{{categoryString}}{{keywordString}}{{sortString}}" style="background-color: #fb5d5d;
  border-color: #fb5d5d;
  color: #fff;">Limited</a></li>
                {{else}}
                <li><a href="/product/?gen=Limited{{categoryString}}{{keywordString}}{{sortString}}">Limited</a></li>
                {{/if}}

              </ul>
            </div>
          </div>
          <!-- Sidebar single item -->
          <div class="sidebar-widget-image">
            <div class="single-banner">
              <img src="assets/images/banner/2.jpg" alt="" />
              <div class="item-disc">
                <h2 class="title">#bestsellers</h2>
                <a href="/product" class="shop-link">Shop Now</a>
              </div>
            </div>
          </div>
          <!-- Sidebar single item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Page End  -->
<script type="text/javascript">

  const element = document.querySelector(".pagination ul");
  let totalPages = {{ totalPage }};
  let page = {{ page }};
  let keyword = "{{keyword}}" != 0 ? "&keyword=" + "{{keyword}}" : " ";
  let category = "{{category}}" != 0 ? "&category=" + "{{category}}" : "";
  let gen = "{{gen}}" != 0 ? "&gen=" + "{{gen}}" : "";
  let sort = "{{sort}}" != 0 ? "&sort=" + "{{sort}}" : "";

  element.innerHTML = createPagination(totalPages, page); function createPagination(totalPages, page) {
    let liTag = '';
    let active;
    let beforePage = page - 1;
    let afterPage = page + 1;
    if (page > 1) {
      liTag += `<li class="btn prev" onclick="location.href='/product?page=${page - 1}${keyword}${category}${gen}${sort}'"><span>Prev</span></li>`;
    }
    if (page > 2) {
      liTag += `<li class="first numb" onclick="location.href='/product?page=1${keyword}${category}${gen}${sort}'"><span>1</span></li>`;
      if (page > 3) {
        liTag += `<li class="dots"><span>...</span></li>`;
      }
    }
    if (page == totalPages) { beforePage = beforePage - 2; } else if (page == totalPages - 1) {
      beforePage
        = beforePage - 1;
    } if (page == 1) { afterPage = afterPage + 2; } else if
      (page == 2) { afterPage = afterPage + 1; } for (var plength = beforePage;
      plength <= afterPage; plength++) {
      if (plength > totalPages) { continue; } if
        (plength == 0) { plength = plength + 1; } if (page == plength) {
          active =
            "active";
        } else { active = ""; }
      liTag += `<li class="numb ${active}" onclick="location.href='/product?page=${plength}${keyword}${category}${gen}${sort}'"><span>${plength}</span></li>`;
    } if (page < totalPages - 1) {
      if (page < totalPages - 2) {
        liTag += `<li
  class="dots"><span>...</span></li>`;
      }
      liTag += `<li class="last numb" onclick="location.href='/product?page=${totalPages}${keyword}${category}${gen}${sort}'"><span>${totalPages}</span></li>`;
    } if (page < totalPages) {
      liTag += `<li class="btn next" onclick="location.href='/product?page=${page + 1}${keyword}${category}${gen}${sort}'"><span>Next <i class="fas fa-angle-right"></i></span></li>`;
    } element.innerHTML = liTag; return liTag;
  }
</script>

<script type="text/javascript">
  $(function () {
    // bind change event to select
    $('#dynamic_select').on('change', function () {
      var url = $(this).val(); // get selected value
      if (url) { // require a URL
        window.location = url; // redirect
      }
      return false;
    });
  });
</script>